*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: rgb(125, 233, 3);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}

.cabecalho-lista-item a{
    text-decoration: none; 
    color: rgb(0, 0, 0);
}

.escola-imagem{
    width: 25%;
}

#escola{
    background-image: linear-gradient(#000000,#f816e5);
    color:rgb(15, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}


.escola-titulo{
    padding: 24px 0;
}

#estudante{
    padding: 24px 0;
}


.estudante-imagem {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
}

.estudante-icone {
    width: 24px; 
    height: 24px;
    margin: 5px;
}

.estudante-div {
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}

.estudante-todos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 0px;
    justify-items: center;
}

.rodape{
    background-color: rgb(255, 0, 157);
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}